.result {
  height: 60px;
  background-color: rgb(239, 231, 231);
  width: 100%;
}

.result p {
  font-size: 39px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: rgb(189, 28, 28);
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
